[Desktop Entry]
Type=Application
Name=Clock
Comment=Simple clock
Exec=python /home/alexey/IT/IT_Python/IT_kivy/clock/main.py
Icon=/home/alexey/IT/IT_Python/IT_kivy/clock/logo.jpg
Categories=Graphics;
Terminal=false