[Desktop Entry]
Type=Application
Name=Clock
Comment=Simple clock
Exec=python *ADD YOUR PATH HERE*/clock/main.py
Icon=*ADD YOUR PATH HERE*/clock/logo.jpg
Categories=Graphics;
Terminal=false
